/* Place CSS styles here */
div {
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 12px;
    padding: 12px 24px;
} 
img {
    max-width: 300px;
    max-height: 300px;
    align-content: right;
}